@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
}

body {
    width: 1024px;
    margin: auto;
    font-family: "Poppins", serif;
}

a {
    text-decoration: none;
    color: black;
    transition: all 0.3s;
}

a:hover {
    color: #0953ff;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.row>* {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
}

.span3 {
    width: 25%;

}

.span4 {
    width: 33.33%;
}

.span6 {
    width: 50%;
}

.bg-purple {
    background-color: #ecedff;
}

.bg-red {
    background-color: #ffefee;
}

.bg-green {
    background-color: #eafeff;
}

.bg-pink {
    background-color: #fdf3fa;
}

.text-purple {
    color: #7d83f8;
}

.text-red {
    color: #ff877e;
}

.text-green {
    color: #6ef8ff;
}

.text-pink {
    color: #ff7dd8;
}

/* #register {
    background-color: rgb(84,125,247);
} */

.btn {
    border: 1px solid #0953ff;
    padding: 15px 30px;
    text-align: center;
    border-radius: 2px;

}

.btn-primary {
    background-color: rgb(84, 125, 247);
    color: white;
}

.btn:hover {
    color: white;
    background-color: #cb44cb;
}


.text-center {
    text-align: center;
}

.section-title {
    margin-bottom: 30px;
}

.section-title h2 {
    font-size: 40px;
    font-weight: 600;
}

.section-title p {
    width: 60%;
    margin: 20px auto auto;
    /* margin-top: 20px; */
    color: rgb(50, 50, 50);

}

.section-button {
    float: right;
    margin-bottom: 20px;
    margin-top: 20px;
}

/*header rules*/
.head {
    display: flex;
    align-items: center;
    padding-right: 30px;
    padding-left: 30px;
}

.logo {
    width: 25%;
    /* display: inline-block; */
}

.login {
    width: 25%;
    /* display: inline-block; */
}

.login a {
    display: block;
    width: 100%;
    margin: 1% 0;
}

.menu {
    width: 50%;
    /* display: inline-block; */

}

nav ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

nav ul li {
    display: inline-block;
    padding: 0 15px;
}

/*****Intro section*****/
#intro {
    background-image: url('assets/images/intro.png');
    background-size: cover;
    background-position: center center;
    height: 500px;
}

.intro-text h1 {
    font-size: 64px;
    margin-top: 100px;
    margin-bottom: 20px;
    line-height: 1.2;
}

.intro-text p {
    font-size: 18px;
    margin-bottom: 30px;
    color: rgb(50, 50, 50);
}

#searchTerm {
    padding: 10px 20px;
    border: none;
    outline: none;
    flex: 1;
}

.form {
    background-color: white;
    /* #ffffff*/
    padding: 5px;
    transition: all 0.3s ease;
    display: flex;
    justify-content: space-between;
}

.form:focus-within {
    border: 1px solid #477eff
}

.form button {
    width: 25%;
}

.intro-image-parent {
    position: relative;
}

.intro-image {
    position: absolute;
    top: 0;
    right: 10px;
}

.intro-image img {
    max-width: 100%;
    height: auto;
}

/*Stat section*/
#stat {
    margin-top: -30px;
    position: relative;
}

.stat-item {
    background-color: #fff;
    /*white | #ffffff |#FFFFFF | rgb(255,255,255)*/
    padding: 20px;
    border-radius: 20px;
    box-shadow: 10px 15px 20px rgba(94, 94, 94, 0.1);
    border: 1px solid #ddd;
}

.stat-item p {
    color: rgb(50, 50, 50);
    font-size: 13px;
}

.stat-icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    float: left;
    font-size: 20px;
    text-align: center;
    line-height: 50px !important;
    margin-right: 15px;
    position: relative;
    top: -7px;
}

.stat-count {
    font-weight: 600;
}

/*about section rules */
#about {
    background-color: rgb(252, 240, 238);
    padding: 80px 0;
    margin-top: -20px;
}

.about-item {
    background-color: white;
    box-shadow: 10px 15px 20px rgba(94, 94, 94, 0.1);
    padding: 40px;

}

.about-item span {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    float: left;
    text-align: center;
    line-height: 60px;
    margin-right: 15px;
    font-size: 25px;
    font-weight: 600;
}

.about-item h3 {
    font-size: 20px;
}

.about-item p {
    clear: both;
    margin-top: 20px;
    color: rgb(50, 50, 50);

}

/*courses section*/
#courses {
    background-color: rgb(249, 249, 249);
    padding: 80px 0;
}

.course-item {
    background-color: white;
    border-radius: 5px;
    box-shadow: 10px 15px 20px rgba(94, 94, 94, 0.1);
    margin-bottom: 15px;
}

.course-image {
    position: relative;
}

.course-image img {
    width: 100%;
}

.course-image span {
    position: absolute;
    top: 5px;
    left: 5px;
    background-color: rgb(84, 125, 247);
    color: white;
    padding: 2px 5px;
    border-radius: 5px;
    transition: all 0.3s;
}

.course-item:hover .course-image span {
    background-color: #cb44cb;
}

.course-item h3 {
    margin: 20px auto;
    text-align: center;
}

.course-item:hover h3 a{
    color: #cb44cb;
}

.course-info {
    text-align: center;
}

.course-info p {
    display: inline;
    margin-left: 15px;
}

.course-info p span {
    color: #0953ff;
}

.course-price {
    border-top: 1px solid #ccc;
    color: #0953ff;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    padding: 20px;
    margin-top: 15px;
    transition: all 0.3s;
}
.course-item:hover .course-price{
    color: #cb44cb;
}
/*footer rules*/
#footer {
    background-color: rgb(245, 245, 252);
    padding: 80px 0;
}

#footer img {
    margin-bottom: 10px;
}

#footer p {
    margin-bottom: 10px;
}

#footer ul {
    list-style-type: none;
    padding: 0;
}

#footer .social-media ul li {
    display: inline-block;
    margin-right: 5px;
}

#footer .social-media ul li a {
    background-color: white;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: block;
    text-align: center;
    line-height: 40px;
}
#footer .social-media ul li a:hover{
    background-color: #cb44cb;
    color: white;
}
#footer h3 {
    margin-bottom: 20px;
}

#footer ul li {
    margin-bottom: 10px;
}

#footer .contact-info span {
    color: #0953ff;
    font-size: 20px;
    position: relative;
    top: 4px;
    margin-right: 15px;
}

#footer .contact-info p {
    display: inline-block;
    margin-bottom: 20px;
}